/*  
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  
    Demo Specific Styles
    ====================
*/


.wrap {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.panel {
    background: #transparent;
    font-size: xx-large;
}

.panel a {
    color: #fff;
}
