ul{
	list-style-type: none;
	margin:0;
	padding:6px;
	overflow: hidden;
	background-color:transparent;
	position: fixed;
	top: 0px;
	width: 100%;

}

li{
	display: inline-block;



}

li a{
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-animation-name: menu;
	-webkit-animation-duration: 7s;



}

nav a:hover{
	color: white;
	background-color:thistle;

}

.current{
	color: pink;
}


@media (max-width: 500px){
	nav li {
		display: block;

	}

}


@-webkit-keyframes menu {
	0% {color: transparent;}
	
	50%{color: pink;}
	100%{color: white;}
}
