body{
	color: white;
	font-family: Gothic, sans-serif;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.container{
	margin: 0 auto; 

}

.title{
	font-size: 500%;
	position: fixed;
	/*padding-left: 800px;*/
	/*padding-top: 300px;*/
	margin: 30px;
	-webkit-animation-name: title;
	-webkit-animation-duration: 7s;
	width: 100%;
    height:100%



}


.title-text-container{
    position: relative;
    height: 100%;
    width: 85%;
    float: right;
}   

.title-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@-webkit-keyframes title {
	0% {color: transparent;}
	50% {color: pink;}
	100%{color: white;}
}


