body{
	color: white;
	font-family: Gothic, sans-serif;
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	position: relative;
}

section{

}
.container{
	width:100%;
}


@-webkit-keyframes title {
	0% {color: transparent; left: 0px; top: 0px;}
	50% {color: pink; left: 700px; top:0px;}
	100%{color: white;left: 700px; top: 300px;} 
}


h1{
	text-align: center;
	color: pink;
	border:solid white;
	padding:20px;
	-webkit-animation-name: who;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-duration: 4s;
	
}

@-webkit-keyframes who {
	0% {color: white;}
	50% {color: white;}
	100%{color: pink;}
}

.bio{
	margin: 0 auto; 
	width: 100%; 
	max-width: 700px; 
	color: white;
	text-align: center;
	background-color: transparent;
	padding: 5px;
	-webkit-animation-name: bio;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-duration: 4s;
}

.sizer{
	margin: 50px auto;
	width: 60%;
	text-align: center;
}

@-webkit-keyframes bio {
	0% {color: pink;}
	50% {color: pink;}
	100%{color: white;}
}

}

a:hover{
	background-color: white;
}

.pdf{
	width: 100%;
	height: 1000px;

}

