body{
	color: white;
	font-family: Gothic, sans-serif;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.container{
	margin: 0 auto; 

}

.title{
	font-size: 500%;
	position: fixed;
	padding-left: 800px;
	padding-top: 300px;
	margin: 30px;
	-webkit-animation-name: title;
	-webkit-animation-duration: 7s;
	width: 50%;



}

@-webkit-keyframes title {
	0% {color: transparent;}
	50% {color: pink;}
	100%{color: white;}
}



