body{
	color: white;
	font-family: Gothic, sans-serif;
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	position: relative;
	overflow-x: hidden;
}

section{

}
.container{
	width:90%;
    margin-left: 5%;
}

.text-content{
    font-size: large;
    background-color: black;
}

@-webkit-keyframes title {
	0% {color: transparent; left: 0px; top: 0px;}
	50% {color: pink; left: 700px; top:0px;}
	100%{color: white;left: 700px; top: 300px;} 
}


h1{
	text-align: center;
	color: pink;
	border:solid white;
	padding:20px;
	-webkit-animation-name: who;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-duration: 4s;
	
}

@-webkit-keyframes who {
	0% {color: white;}
	50% {color: white;}
	100%{color: pink;}
}

.bio{
	margin: 0 auto; 
	width: 100%; 
	max-width: 700px; 
	color: white;
	text-align: justify;
	background-color: transparent;
	/*padding: 5px;*/
	-webkit-animation-name: bio;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-duration: 4s;
}


.sizer{
    margin: 5%;
    width: 90%;
    text-align: center;
}

.slide-menu {
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-bottom:20px; 
    font-weight:bold;
    text-align: center;
    border: solid white 1px;
    width : 100%;
}
.slide-menu ul {
    -webkit-padding-start: 0px;
}
.slide-menu li {
    display : inline-block;
    padding-left: 10px;
    color : pink;
}

.slide-menu li:hover {
    cursor: pointer;
}

.slide-menu .glow {
   text-shadow: -1px 1px 20px #ffc, 1px -1px 20px #fff;

    -webkit-transition: text-shadow 250ms linear 0s;
    -moz-transition: text-shadow 250ms linear 0s;
    -o-transition: text-shadow 250ms linear 0s;
    transition: text-shadow 250ms linear 0s;
}


.flexslider-overrides {
    background-color : transparent !important;
    border-color : transparent !important;
}

.flexslider-overrides .slides img{
    width: initial !important;
}

.slide-container {
/*
    position: absolute;
    height : 100%;
*/
}

.slide-header {
    font-weight:bold;
    text-align: center;
    color : white;
    /*background-color: transparent;*/
    padding : 10px;
}
.slide-media-container {
    position: relative;
    overflow-y : hidden;
    overflow-x : hidden;
    height: 300px;
    width: 100%;
}
.slide-media {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y : hidden;
    overflow-x : hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slide-media-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y : hidden;
    overflow-x : hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.slide-media img {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slide-media embed {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slide-text {
    position: relative; 
    text-align:left;
    color: white;
    /*background-color: transparent;*/
    padding : 10px;
}

@media only screen and (max-width: 599px){

}

@media only screen and (min-width: 600px){

}

@-webkit-keyframes bio {
	0% {color: pink;}
	50% {color: pink;}
	100%{color: white;}
}


.pdf{
	width: 100%;
	height: 1000px;

}


.thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
